_ReSharper.*
_TeamCity.*
*.suo
*.cache
*.Cache
*.user
*.rsuser
*.orig
*.tmp
*.svclog
*.pdb
*__.g
*.tokens
*.sln.ide
*.log
*.csdat
.vs/
.vscode/
obj/
bin/
log/*
packages/
packages-build/
contrib/packages/
testresults/
coverage/