
*.user
.vs/
obj/
bin/
packages/
node_modules/
Client-Release/
*.js.map

# *.rsuser
# *.orig
# *.tmp
# *.svclog
# *.pdb
# *__.g
# *.tokens
# *.sln.ide
# *.log
# *.csdat
# packages-build/
# contrib/packages/
# testresults/
# coverage/
# log/*
# .vscode/# _ReSharper.*
# _TeamCity.*
# *.suo
# *.cache
# *.Cache